.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-498fDrf09iPq);
  font-family: var(--token-QSId1-LarW0l);
  font-size: var(--token-7NC-GmBmwPz5);
  line-height: var(--token-QyaMfyHCjvUJ);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
