.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-vOzt3wWwXHfx);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-GnEwCvJtML3f);
  width: var(--token-GnEwCvJtML3f);
  border-radius: 99px;
  border: 1px solid var(--token-zVGRgrcCcY9C);
}
.root[data-hovered][data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-zVGRgrcCcY9C);
  outline-offset: 1px;
}
