.logInPage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  background: #001606;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.logInPage > * {
  grid-column: 4;
}
@media (max-width: 800px) {
  .logInPage > * {
    grid-column: 4;
  }
}
.flex {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .container {
    width: 80%;
    padding: 24px 20px;
  }
}
.title {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 800px) {
  .title {
    animation: none;
    text-align: center;
  }
}
.emailContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .emailContainer:global(.__wab_instance):global(.__wab_instance) {
    width: 95%;
  }
}
.text__pr7H3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__waBa9 {
  position: relative;
  height: 1em;
}
.svg__v2DpO {
  position: relative;
  height: 1em;
}
.passwordContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .passwordContainer:global(.__wab_instance):global(.__wab_instance) {
    width: 95%;
  }
}
.text___0FBtx {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__qSd2L {
  position: relative;
  height: 1em;
}
.svg__zQgtx {
  position: relative;
  height: 1em;
}
.forgotPasswordButton {
  cursor: default;
  background: none;
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -20px 0px;
  border: 0px solid #ffffff;
}
@media (max-width: 800px) {
  .forgotPasswordButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }
}
.text__neyAt {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-bottom: 0px;
  height: auto;
  color: var(--token--LLXgMeNdajs);
  cursor: pointer;
  padding-top: 3px;
}
@media (max-width: 800px) {
  .text__neyAt {
    animation: none;
    text-align: center;
  }
}
.logInButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 5px 24px 5px 16px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .logInButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__cfmzD {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 35px;
  height: 35px;
  transform: translate3d(0px, -1px, 0px);
  margin-top: 3px;
  flex-shrink: 0;
}
.text__phJ4W {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
}
@media (max-width: 800px) {
  .text__phJ4W {
    animation: none;
    text-align: center;
  }
}
.error {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -16px 0px 0px;
  border: 3px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .error {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.errorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .errorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.signUpRedirect {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.h1 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: #fffffff2;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .h1 {
    animation: none;
  }
}
.signUpRedirectButton {
  cursor: default;
  background: none;
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 0px solid #ffffff;
}
@media (max-width: 800px) {
  .signUpRedirectButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }
}
.text__awxdC {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
  height: auto;
  color: var(--token--LLXgMeNdajs);
  cursor: pointer;
}
@media (max-width: 800px) {
  .text__awxdC {
    animation: none;
    text-align: center;
  }
}
.alreadyLoggedIn {
  flex-direction: column;
  position: relative;
  width: 45%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .alreadyLoggedIn {
    width: 80%;
    padding: 24px 20px;
  }
}
.notice {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #ffffffd9;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .notice {
    animation: none;
  }
}
.toDashboardButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .toDashboardButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__aWPeF {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text__aWPeF {
    animation: none;
    text-align: center;
  }
}
.forgotPassword {
  flex-direction: column;
  position: relative;
  width: 45%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .forgotPassword {
    width: 80%;
    padding: 24px 20px;
  }
}
.forgotPasswordTitle {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 800px) {
  .forgotPasswordTitle {
    animation: none;
  }
}
.forgotPasswordEmailContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .forgotPasswordEmailContainer:global(.__wab_instance):global(
      .__wab_instance
    ) {
    width: 95%;
  }
}
.text__hOpG {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__ts8Pc {
  position: relative;
  height: 1em;
}
.svg__zi41O {
  position: relative;
  height: 1em;
}
.forgotPasswordError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -16px 0px 0px;
  border: 3px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .forgotPasswordError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.forgotPasswordErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .forgotPasswordErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.continueButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .continueButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__rcVyt {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text__rcVyt {
    animation: none;
    text-align: center;
  }
}
.backButton {
  cursor: pointer;
  background: var(--token-_ghsv35bfxZ2);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -20px 0px 0px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .backButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__iQ5Nz {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-bottom: 0px;
  padding-top: 3px;
}
@media (max-width: 800px) {
  .text__iQ5Nz {
    animation: none;
    text-align: center;
  }
}
.emailNoticeContainer {
  flex-direction: column;
  position: relative;
  width: 45%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .emailNoticeContainer {
    width: 80%;
    padding: 24px 20px;
  }
}
.emailNotice {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #ffffffd9;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .emailNotice {
    animation: none;
    font-size: 24px;
  }
}
.emailNoticeBackButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .emailNoticeBackButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__ivzW {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text__ivzW {
    animation: none;
    text-align: center;
  }
}
