@import "../react_aria/plasmic.css"; /* plasmic-import: gmeH6XgPaBtkt51HunAo4g/projectcss */
@import "../plasmic_tabs/plasmic.css"; /* plasmic-import: gLnoj82AzKVVT7qXiqAbHD/projectcss */
@import "../plasmic_basic_components/plasmic.css"; /* plasmic-import: caTPwKxj5ZrD9LQ7DMdK4Z/projectcss */
@import "../plasmic_nav/plasmic.css"; /* plasmic-import: 7nJ7UcFmq9UzB6eXfC5z4a/projectcss */
@import "../library_tabler_3_2_icons/plasmic.css"; /* plasmic-import: d2Pfbr6bN5UwJ4ss7Fh3HB/projectcss */
@import "../library_tailwind_3_4_color_tokens/plasmic.css"; /* plasmic-import: 5ZtnypMovRHeeP3YTdPCYL/projectcss */
@import "../library_tailwind_3_4_number_tokens/plasmic.css"; /* plasmic-import: 4vjRXvnb4XuY6J15w9oRcQ/projectcss */
@import "../react_youtube/plasmic.css"; /* plasmic-import: enk3K4vZ6pmH6kVCoZJXGn/projectcss */

.plasmic_tokens_6FNNC7rfkE9HMPqXDPWwTm {
  --token-vOzt3wWwXHfx: #ffffff;
  --plasmic-token-basic-container-background: var(--token-vOzt3wWwXHfx);
  --token-c0MTkCuZ48bV: #030712;
  --plasmic-token-basic-text-primary: var(--token-c0MTkCuZ48bV);
  --token-QSId1-LarW0l: Inter;
  --plasmic-token-sans-serif: var(--token-QSId1-LarW0l);
  --token-7NC-GmBmwPz5: 1rem;
  --plasmic-token-font-md: var(--token-7NC-GmBmwPz5);
  --token-QyaMfyHCjvUJ: 1.25;
  --plasmic-token-line-height-md: var(--token-QyaMfyHCjvUJ);
  --token-A5cij-U-9Z9e: 1rem;
  --plasmic-token-size-16: var(--token-A5cij-U-9Z9e);
  --token-hHxtMc0wCy-M: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-hHxtMc0wCy-M);
  --token-dLaEisDAzL4U: 1.5rem;
  --plasmic-token-size-24: var(--token-dLaEisDAzL4U);
  --token-XNn7SYXNbBIe: 1.25rem;
  --plasmic-token-font-lg: var(--token-XNn7SYXNbBIe);
  --token-c0eTv7XUP79_: 0.75rem;
  --plasmic-token-size-12: var(--token-c0eTv7XUP79_);
  --token-zVGRgrcCcY9C: #2563eb;
  --plasmic-token-brand-brand: var(--token-zVGRgrcCcY9C);
  --token-Q9xBzx2Uu1Br: 0.5rem;
  --plasmic-token-size-8: var(--token-Q9xBzx2Uu1Br);
  --token-uauosHM9-I-s: 0.375rem;
  --plasmic-token-size-6: var(--token-uauosHM9-I-s);
  --token-WzYk7zydZcKT: #374151;
  --plasmic-token-neutral-neutral: var(--token-WzYk7zydZcKT);
  --token-BoCBPMjbmJFg: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-BoCBPMjbmJFg);
  --token-qO-bjBqp0oab: #6b7280;
  --plasmic-token-muted-muted: var(--token-qO-bjBqp0oab);
  --token-Bqn5pd9oN2N7: 0.25rem;
  --plasmic-token-size-4: var(--token-Bqn5pd9oN2N7);
  --token-roh05YhUqr8q: 0.75rem;
  --plasmic-token-font-sm: var(--token-roh05YhUqr8q);
  --token-NQdC2OEnUAXi: 1;
  --plasmic-token-line-height-sm: var(--token-NQdC2OEnUAXi);
  --token-st-pYXJdMObb: 1.4;
  --plasmic-token-line-height-lg: var(--token-st-pYXJdMObb);
  --token-HFjDKt86yt18: 0.125rem;
  --plasmic-token-size-2: var(--token-HFjDKt86yt18);
  --token-ytzaa9i3sK9d: #16a34a;
  --plasmic-token-success-success: var(--token-ytzaa9i3sK9d);
  --token-sgwJLQo1g3SM: #facc15;
  --plasmic-token-warning-warning: var(--token-sgwJLQo1g3SM);
  --token-zmJZ04iDENh2: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-zmJZ04iDENh2);
  --token-rbuuiuvtsggF: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-rbuuiuvtsggF);
  --token--5S1YM30SMG0: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token--5S1YM30SMG0);
  --token-M7lcA03T4ZoF: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-M7lcA03T4ZoF);
  --token-4vRHD4vuKylM: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-4vRHD4vuKylM);
  --token-NTESAyxxsP7y: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-NTESAyxxsP7y);
  --token-qvPVZoXe_tpJ: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-qvPVZoXe_tpJ);
  --token-gzFc5nZfC4fg: #d1d5dbbf;
  --plasmic-token-neutral-neutral-border: var(--token-gzFc5nZfC4fg);
  --token-T-l35Qg0SeXZ: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-T-l35Qg0SeXZ);
  --token--LLXgMeNdajs: #86efacbf;
  --plasmic-token-success-success-border: var(--token--LLXgMeNdajs);
  --token-8H0FXC0nPyt4: #fde047;
  --plasmic-token-warning-warning-border: var(--token-8H0FXC0nPyt4);
  --token-i0S2kgM9APLY: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-i0S2kgM9APLY);
  --token-UpR-XdU_TQB8: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-UpR-XdU_TQB8);
  --token-48ATyuZeIrma: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-48ATyuZeIrma);
  --token-cMdvggVFXPGY: #00000033;
  --plasmic-token-interaction-pressed: var(--token-cMdvggVFXPGY);
  --token-Pk7-j3lUPioJ: 0.625rem;
  --plasmic-token-size-10: var(--token-Pk7-j3lUPioJ);
  --token-FJ2EP2IBXqlI: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-FJ2EP2IBXqlI);
  --token-wA0t3TKOgOB7: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-wA0t3TKOgOB7);
  --token-mXNBnRqQpqI7: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-mXNBnRqQpqI7);
  --token-RHrmky957hpR: #135cc1;
  --plasmic-token-brand-brand-soft-foreground: var(--token-RHrmky957hpR);
  --token-vwrC7OY-UU0H: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-vwrC7OY-UU0H);
  --token-kbrUUVrThXV_: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-kbrUUVrThXV_);
  --token-n5QooyIEPngS: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-n5QooyIEPngS);
  --token-LP3DuU1ILBgj: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-LP3DuU1ILBgj);
  --token-RgbOqxP2DhtT: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-RgbOqxP2DhtT);
  --token-_ghsv35bfxZ2: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-_ghsv35bfxZ2);
  --token-F-nhFwJbpwaP: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-F-nhFwJbpwaP);
  --token-gTmQ4pFxL2-w: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-gTmQ4pFxL2-w
  );
  --token-uaIxKhkvZhCQ: #001606;
  --plasmic-token-basic-container-background-dark: var(--token-uaIxKhkvZhCQ);
  --token-QvKZNdbDFRb8: #002b0b;
  --plasmic-token-unnamed-style-token: var(--token-QvKZNdbDFRb8);
  --token-SnCHKd_1DFQ5: 2rem;
  --plasmic-token-size-32: var(--token-SnCHKd_1DFQ5);
  --token-498fDrf09iPq: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-498fDrf09iPq);
  --token-_5Qf8L9vQBPh: #d1d5db;
  --plasmic-token-basic-border: var(--token-_5Qf8L9vQBPh);
  --token-g8KXNCrYh9OG: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-g8KXNCrYh9OG);
  --token-GnEwCvJtML3f: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-GnEwCvJtML3f);
  --token-sSsV-BkyVCuH: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-sSsV-BkyVCuH);
  --token-SKPbThoxnEK9: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-SKPbThoxnEK9);
}

.plasmic_tokens_6FNNC7rfkE9HMPqXDPWwTm {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Tf5-mNoOXGWV_font-family: "Inter", sans-serif;
  --mixin-Tf5-mNoOXGWV_font-size: 16px;
  --mixin-Tf5-mNoOXGWV_font-weight: 400;
  --mixin-Tf5-mNoOXGWV_font-style: normal;
  --mixin-Tf5-mNoOXGWV_text-align: left;
  --mixin-Tf5-mNoOXGWV_text-transform: none;
  --mixin-Tf5-mNoOXGWV_line-height: 1.5;
  --mixin-Tf5-mNoOXGWV_letter-spacing: normal;
  --mixin-Tf5-mNoOXGWV_white-space: pre-wrap;
  --mixin-Tf5-mNoOXGWV_user-select: none;
  --mixin-Tf5-mNoOXGWV_text-decoration-line: none;
  --mixin-Tf5-mNoOXGWV_text-overflow: clip;
  --mixin-Tf5-mNoOXGWV_color: #ffffff;
  --mixin-_Vvkq0G8MjaQ_font-weight: 700;
  --mixin-_Vvkq0G8MjaQ_font-size: 64px;
  --mixin-_Vvkq0G8MjaQ_line-height: 1;
  --mixin-_Vvkq0G8MjaQ_letter-spacing: -1px;
  --mixin-_Vvkq0G8MjaQ_white-space: pre-wrap;
  --mixin-E4KBqDQceFYh_font-size: 48px;
  --mixin-E4KBqDQceFYh_font-weight: 700;
  --mixin-E4KBqDQceFYh_letter-spacing: -0.5px;
  --mixin-E4KBqDQceFYh_line-height: 1.1;
  --mixin-E4KBqDQceFYh_white-space: pre-wrap;
  --mixin-oqEqD0wV0dDf_color: #0070f3;
  --mixin-oqEqD0wV0dDf_white-space: pre-wrap;
  --mixin-30LWnencc1Fz_font-size: 32px;
  --mixin-30LWnencc1Fz_font-weight: 600;
  --mixin-30LWnencc1Fz_line-height: 1.2;
  --mixin-30LWnencc1Fz_white-space: pre-wrap;
  --mixin-MoU_IBgeE6ka_font-size: 24px;
  --mixin-MoU_IBgeE6ka_font-weight: 600;
  --mixin-MoU_IBgeE6ka_line-height: 1.3;
  --mixin-MoU_IBgeE6ka_white-space: pre-wrap;
  --mixin-rsEtq-b2hka4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rsEtq-b2hka4_border-bottom-color: #dddddd;
  --mixin-rsEtq-b2hka4_border-bottom-style: solid;
  --mixin-rsEtq-b2hka4_border-bottom-width: 1px;
  --mixin-rsEtq-b2hka4_border-left-color: #dddddd;
  --mixin-rsEtq-b2hka4_border-left-style: solid;
  --mixin-rsEtq-b2hka4_border-left-width: 1px;
  --mixin-rsEtq-b2hka4_border-right-color: #dddddd;
  --mixin-rsEtq-b2hka4_border-right-style: solid;
  --mixin-rsEtq-b2hka4_border-right-width: 1px;
  --mixin-rsEtq-b2hka4_border-top-color: #dddddd;
  --mixin-rsEtq-b2hka4_border-top-style: solid;
  --mixin-rsEtq-b2hka4_border-top-width: 1px;
  --mixin-rsEtq-b2hka4_border-bottom-left-radius: 3px;
  --mixin-rsEtq-b2hka4_border-bottom-right-radius: 3px;
  --mixin-rsEtq-b2hka4_border-top-left-radius: 3px;
  --mixin-rsEtq-b2hka4_border-top-right-radius: 3px;
  --mixin-rsEtq-b2hka4_font-family: "Inconsolata";
  --mixin-rsEtq-b2hka4_padding-bottom: 1px;
  --mixin-rsEtq-b2hka4_padding-left: 4px;
  --mixin-rsEtq-b2hka4_padding-right: 4px;
  --mixin-rsEtq-b2hka4_padding-top: 1px;
  --mixin-rsEtq-b2hka4_white-space: pre-wrap;
  --mixin-zEN91vTQWMex_border-left-color: #dddddd;
  --mixin-zEN91vTQWMex_border-left-style: solid;
  --mixin-zEN91vTQWMex_border-left-width: 3px;
  --mixin-zEN91vTQWMex_color: #888888;
  --mixin-zEN91vTQWMex_padding-left: 10px;
  --mixin-zEN91vTQWMex_white-space: pre-wrap;
  --mixin-KyY5lGYRzr9a_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KyY5lGYRzr9a_border-bottom-color: #dddddd;
  --mixin-KyY5lGYRzr9a_border-bottom-style: solid;
  --mixin-KyY5lGYRzr9a_border-bottom-width: 1px;
  --mixin-KyY5lGYRzr9a_border-left-color: #dddddd;
  --mixin-KyY5lGYRzr9a_border-left-style: solid;
  --mixin-KyY5lGYRzr9a_border-left-width: 1px;
  --mixin-KyY5lGYRzr9a_border-right-color: #dddddd;
  --mixin-KyY5lGYRzr9a_border-right-style: solid;
  --mixin-KyY5lGYRzr9a_border-right-width: 1px;
  --mixin-KyY5lGYRzr9a_border-top-color: #dddddd;
  --mixin-KyY5lGYRzr9a_border-top-style: solid;
  --mixin-KyY5lGYRzr9a_border-top-width: 1px;
  --mixin-KyY5lGYRzr9a_border-bottom-left-radius: 3px;
  --mixin-KyY5lGYRzr9a_border-bottom-right-radius: 3px;
  --mixin-KyY5lGYRzr9a_border-top-left-radius: 3px;
  --mixin-KyY5lGYRzr9a_border-top-right-radius: 3px;
  --mixin-KyY5lGYRzr9a_font-family: "Inconsolata";
  --mixin-KyY5lGYRzr9a_padding-bottom: 3px;
  --mixin-KyY5lGYRzr9a_padding-left: 6px;
  --mixin-KyY5lGYRzr9a_padding-right: 6px;
  --mixin-KyY5lGYRzr9a_padding-top: 3px;
  --mixin-KyY5lGYRzr9a_white-space: pre-wrap;
  --mixin-Q0hzEMG8RuVy_display: flex;
  --mixin-Q0hzEMG8RuVy_flex-direction: column;
  --mixin-Q0hzEMG8RuVy_align-items: stretch;
  --mixin-Q0hzEMG8RuVy_justify-content: flex-start;
  --mixin-Q0hzEMG8RuVy_list-style-position: outside;
  --mixin-Q0hzEMG8RuVy_padding-left: 40px;
  --mixin-Q0hzEMG8RuVy_position: relative;
  --mixin-Q0hzEMG8RuVy_list-style-type: disc;
  --mixin-Q0hzEMG8RuVy_white-space: pre-wrap;
  --mixin-JJxI0Lfn8j11_display: flex;
  --mixin-JJxI0Lfn8j11_flex-direction: column;
  --mixin-JJxI0Lfn8j11_align-items: stretch;
  --mixin-JJxI0Lfn8j11_justify-content: flex-start;
  --mixin-JJxI0Lfn8j11_list-style-position: outside;
  --mixin-JJxI0Lfn8j11_padding-left: 40px;
  --mixin-JJxI0Lfn8j11_position: relative;
  --mixin-JJxI0Lfn8j11_list-style-type: decimal;
  --mixin-JJxI0Lfn8j11_white-space: pre-wrap;
  --mixin-iOLDsZ7oa6xG_font-size: 20px;
  --mixin-iOLDsZ7oa6xG_font-weight: 600;
  --mixin-iOLDsZ7oa6xG_line-height: 1.5;
  --mixin-iOLDsZ7oa6xG_white-space: pre-wrap;
  --mixin-tzOKQcpbilmD_font-size: 16px;
  --mixin-tzOKQcpbilmD_font-weight: 600;
  --mixin-tzOKQcpbilmD_line-height: 1.5;
  --mixin-tzOKQcpbilmD_white-space: pre-wrap;
  --mixin-8lvlXYLCbDT4_white-space: pre-wrap;
  --mixin-DF7hM9mUuoB6_white-space: pre-wrap;
  --mixin-DF-IttR4ecbD_white-space: pre-wrap;
  --mixin-2XXl3I-W92cn_white-space: pre-wrap;
  --mixin-k6PvxOXe4NsY_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-MmWNSmuVu9v9_white-space: pre-wrap;
  --plasmic-mixin-active-nav-bar-button_white-space: var(
    --mixin-MmWNSmuVu9v9_white-space
  );
  --mixin-qCslVE49ZJNh_white-space: pre-wrap;
  --plasmic-mixin-selected-nav-bar-button_white-space: var(
    --mixin-qCslVE49ZJNh_white-space
  );
  --mixin-7IGbaDPI75Tq_white-space: pre-wrap;
  --plasmic-mixin-nav-bar-link-button_white-space: var(
    --mixin-7IGbaDPI75Tq_white-space
  );
  --mixin-OQa3gHA4HfBy_white-space: pre-wrap;
  --plasmic-mixin-mobile-nav-bar-link-button_white-space: var(
    --mixin-OQa3gHA4HfBy_white-space
  );
  --mixin-dfOHgGI32EvQ_white-space: pre-wrap;
  --plasmic-mixin-mobile-active-nav-bar-button_white-space: var(
    --mixin-dfOHgGI32EvQ_white-space
  );
  --mixin-HXvDB5EFiVOp_white-space: pre-wrap;
  --plasmic-mixin-mobile-selected-nav-bar-button_white-space: var(
    --mixin-HXvDB5EFiVOp_white-space
  );
  --mixin-3A00WW8whXRM_white-space: pre-wrap;
  --plasmic-mixin-nav-bar-action-button_white-space: var(
    --mixin-3A00WW8whXRM_white-space
  );
  --mixin-O6UrP2dt8hhU_white-space: pre-wrap;
  --plasmic-mixin-mobile-nav-bar-action-button_white-space: var(
    --mixin-O6UrP2dt8hhU_white-space
  );
  --mixin-WsMIk5U6whzc_white-space: pre-wrap;
  --plasmic-mixin-action-button_white-space: var(
    --mixin-WsMIk5U6whzc_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) {
  font-family: var(--mixin-Tf5-mNoOXGWV_font-family);
  font-size: var(--mixin-Tf5-mNoOXGWV_font-size);
  font-weight: var(--mixin-Tf5-mNoOXGWV_font-weight);
  font-style: var(--mixin-Tf5-mNoOXGWV_font-style);
  color: var(--mixin-Tf5-mNoOXGWV_color);
  text-align: var(--mixin-Tf5-mNoOXGWV_text-align);
  text-transform: var(--mixin-Tf5-mNoOXGWV_text-transform);
  line-height: var(--mixin-Tf5-mNoOXGWV_line-height);
  letter-spacing: var(--mixin-Tf5-mNoOXGWV_letter-spacing);
  white-space: var(--mixin-Tf5-mNoOXGWV_white-space);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) h1:where(.h1__6FNNC),
h1:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.h1__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) h1,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) h1,
h1:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  font-weight: var(--mixin-_Vvkq0G8MjaQ_font-weight);
  font-size: var(--mixin-_Vvkq0G8MjaQ_font-size);
  line-height: var(--mixin-_Vvkq0G8MjaQ_line-height);
  letter-spacing: var(--mixin-_Vvkq0G8MjaQ_letter-spacing);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) h2:where(.h2__6FNNC),
h2:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.h2__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) h2,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) h2,
h2:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  font-size: var(--mixin-E4KBqDQceFYh_font-size);
  font-weight: var(--mixin-E4KBqDQceFYh_font-weight);
  letter-spacing: var(--mixin-E4KBqDQceFYh_letter-spacing);
  line-height: var(--mixin-E4KBqDQceFYh_line-height);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) a:where(.a__6FNNC),
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.a__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) a,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) a,
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  color: var(--mixin-oqEqD0wV0dDf_color);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) h3:where(.h3__6FNNC),
h3:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.h3__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) h3,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) h3,
h3:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  font-size: var(--mixin-30LWnencc1Fz_font-size);
  font-weight: var(--mixin-30LWnencc1Fz_font-weight);
  line-height: var(--mixin-30LWnencc1Fz_line-height);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) h4:where(.h4__6FNNC),
h4:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.h4__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) h4,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) h4,
h4:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  font-size: var(--mixin-MoU_IBgeE6ka_font-size);
  font-weight: var(--mixin-MoU_IBgeE6ka_font-weight);
  line-height: var(--mixin-MoU_IBgeE6ka_line-height);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) code:where(.code__6FNNC),
code:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.code__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) code,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) code,
code:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-rsEtq-b2hka4_font-family);
  border-radius: var(--mixin-rsEtq-b2hka4_border-top-left-radius)
    var(--mixin-rsEtq-b2hka4_border-top-right-radius)
    var(--mixin-rsEtq-b2hka4_border-bottom-right-radius)
    var(--mixin-rsEtq-b2hka4_border-bottom-left-radius);
  padding: var(--mixin-rsEtq-b2hka4_padding-top)
    var(--mixin-rsEtq-b2hka4_padding-right)
    var(--mixin-rsEtq-b2hka4_padding-bottom)
    var(--mixin-rsEtq-b2hka4_padding-left);
  border-top: var(--mixin-rsEtq-b2hka4_border-top-width)
    var(--mixin-rsEtq-b2hka4_border-top-style)
    var(--mixin-rsEtq-b2hka4_border-top-color);
  border-right: var(--mixin-rsEtq-b2hka4_border-right-width)
    var(--mixin-rsEtq-b2hka4_border-right-style)
    var(--mixin-rsEtq-b2hka4_border-right-color);
  border-bottom: var(--mixin-rsEtq-b2hka4_border-bottom-width)
    var(--mixin-rsEtq-b2hka4_border-bottom-style)
    var(--mixin-rsEtq-b2hka4_border-bottom-color);
  border-left: var(--mixin-rsEtq-b2hka4_border-left-width)
    var(--mixin-rsEtq-b2hka4_border-left-style)
    var(--mixin-rsEtq-b2hka4_border-left-color);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) blockquote:where(.blockquote__6FNNC),
blockquote:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.blockquote__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) blockquote,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) blockquote,
blockquote:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  color: var(--mixin-zEN91vTQWMex_color);
  padding-left: var(--mixin-zEN91vTQWMex_padding-left);
  border-left: var(--mixin-zEN91vTQWMex_border-left-width)
    var(--mixin-zEN91vTQWMex_border-left-style)
    var(--mixin-zEN91vTQWMex_border-left-color);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) pre:where(.pre__6FNNC),
pre:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.pre__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) pre,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) pre,
pre:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-KyY5lGYRzr9a_font-family);
  border-radius: var(--mixin-KyY5lGYRzr9a_border-top-left-radius)
    var(--mixin-KyY5lGYRzr9a_border-top-right-radius)
    var(--mixin-KyY5lGYRzr9a_border-bottom-right-radius)
    var(--mixin-KyY5lGYRzr9a_border-bottom-left-radius);
  padding: var(--mixin-KyY5lGYRzr9a_padding-top)
    var(--mixin-KyY5lGYRzr9a_padding-right)
    var(--mixin-KyY5lGYRzr9a_padding-bottom)
    var(--mixin-KyY5lGYRzr9a_padding-left);
  border-top: var(--mixin-KyY5lGYRzr9a_border-top-width)
    var(--mixin-KyY5lGYRzr9a_border-top-style)
    var(--mixin-KyY5lGYRzr9a_border-top-color);
  border-right: var(--mixin-KyY5lGYRzr9a_border-right-width)
    var(--mixin-KyY5lGYRzr9a_border-right-style)
    var(--mixin-KyY5lGYRzr9a_border-right-color);
  border-bottom: var(--mixin-KyY5lGYRzr9a_border-bottom-width)
    var(--mixin-KyY5lGYRzr9a_border-bottom-style)
    var(--mixin-KyY5lGYRzr9a_border-bottom-color);
  border-left: var(--mixin-KyY5lGYRzr9a_border-left-width)
    var(--mixin-KyY5lGYRzr9a_border-left-style)
    var(--mixin-KyY5lGYRzr9a_border-left-color);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) ul:where(.ul__6FNNC),
ul:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.ul__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) ul,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) ul,
ul:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  display: var(--mixin-Q0hzEMG8RuVy_display);
  flex-direction: var(--mixin-Q0hzEMG8RuVy_flex-direction);
  align-items: var(--mixin-Q0hzEMG8RuVy_align-items);
  justify-content: var(--mixin-Q0hzEMG8RuVy_justify-content);
  list-style-position: var(--mixin-Q0hzEMG8RuVy_list-style-position);
  padding-left: var(--mixin-Q0hzEMG8RuVy_padding-left);
  position: var(--mixin-Q0hzEMG8RuVy_position);
  list-style-type: var(--mixin-Q0hzEMG8RuVy_list-style-type);
  column-gap: var(--mixin-Q0hzEMG8RuVy_column-gap);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) ol:where(.ol__6FNNC),
ol:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.ol__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) ol,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) ol,
ol:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  display: var(--mixin-JJxI0Lfn8j11_display);
  flex-direction: var(--mixin-JJxI0Lfn8j11_flex-direction);
  align-items: var(--mixin-JJxI0Lfn8j11_align-items);
  justify-content: var(--mixin-JJxI0Lfn8j11_justify-content);
  list-style-position: var(--mixin-JJxI0Lfn8j11_list-style-position);
  padding-left: var(--mixin-JJxI0Lfn8j11_padding-left);
  position: var(--mixin-JJxI0Lfn8j11_position);
  list-style-type: var(--mixin-JJxI0Lfn8j11_list-style-type);
  column-gap: var(--mixin-JJxI0Lfn8j11_column-gap);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) h5:where(.h5__6FNNC),
h5:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.h5__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) h5,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) h5,
h5:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  font-size: var(--mixin-iOLDsZ7oa6xG_font-size);
  font-weight: var(--mixin-iOLDsZ7oa6xG_font-weight);
  line-height: var(--mixin-iOLDsZ7oa6xG_line-height);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) h6:where(.h6__6FNNC),
h6:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.h6__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) h6,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) h6,
h6:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
  font-size: var(--mixin-tzOKQcpbilmD_font-size);
  font-weight: var(--mixin-tzOKQcpbilmD_font-weight);
  line-height: var(--mixin-tzOKQcpbilmD_line-height);
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) a:where(.a__6FNNC):hover,
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.a__6FNNC):hover,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) a:hover,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) a:hover,
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags):hover {
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) li:where(.li__6FNNC),
li:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.li__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) li,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) li,
li:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) p:where(.p__6FNNC),
p:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.p__6FNNC),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) p,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) p,
p:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) {
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) a:where(.a__6FNNC):active,
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.a__6FNNC):active,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) a:active,
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) a:active,
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags):active {
}

:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm) a:where(.a__6FNNC):not(:hover),
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm.a__6FNNC):not(:hover),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm .__wab_expr_html_text) a:not(:hover),
:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags) a:not(:hover),
a:where(.root_reset_6FNNC7rfkE9HMPqXDPWwTm_tags):not(:hover) {
}
