.changePasswordPage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #001606;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 20px 0px;
}
.changePasswordPage > * {
  grid-column: 4;
}
@media (max-width: 800px) {
  .changePasswordPage > * {
    grid-column: 4;
  }
}
.flex {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.changePasswordContainer {
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .changePasswordContainer {
    width: 80%;
    padding: 24px 20px;
  }
}
.h1__qjIwb {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 800px) {
  .h1__qjIwb {
    animation: none;
  }
}
.currentPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .currentPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
    width: 95%;
  }
}
.text__c9Bwt {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__ockgt {
  position: relative;
  height: 1em;
}
.svg___0KMFz {
  position: relative;
  height: 1em;
}
.newPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .newPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
    width: 95%;
  }
}
.text__hZvb6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg___1Vzx9 {
  position: relative;
  height: 1em;
}
.svg___1GaP6 {
  position: relative;
  height: 1em;
}
.confirmNewPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .confirmNewPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
    width: 95%;
  }
}
.text__slNce {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__u19Bx {
  position: relative;
  height: 1em;
}
.svg__ePzwV {
  position: relative;
  height: 1em;
}
.passwordError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -16px 0px 0px;
  border: 3px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .passwordError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.passwordErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .passwordErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.continueButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .continueButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text___7RZa {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text___7RZa {
    animation: none;
    text-align: center;
  }
}
.resetPasswordContainer {
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .resetPasswordContainer {
    width: 80%;
    padding: 24px 20px;
  }
}
.h1__wHz65 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 800px) {
  .h1__wHz65 {
    animation: none;
  }
}
.resetNewPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .resetNewPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
    width: 95%;
  }
}
.text__buu1K {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__rJpqS {
  position: relative;
  height: 1em;
}
.svg__wpt3Q {
  position: relative;
  height: 1em;
}
.resetConfirmNewPasswordContainer:global(.__wab_instance):global(
    .__wab_instance
  ) {
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .resetConfirmNewPasswordContainer:global(.__wab_instance):global(
      .__wab_instance
    ) {
    width: 95%;
  }
}
.text__bgYxG {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__cr2Y6 {
  position: relative;
  height: 1em;
}
.svg__qKh7E {
  position: relative;
  height: 1em;
}
.resetPasswordError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -16px 0px 0px;
  border: 3px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .resetPasswordError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    display: none;
  }
}
.passwordErrorContent2 {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .passwordErrorContent2 {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.resetContinueButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .resetContinueButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__xpMdu {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text__xpMdu {
    animation: none;
    text-align: center;
  }
}
.successContainer {
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .successContainer {
    width: 80%;
    padding: 24px 20px;
  }
}
.notice {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #ffffffd9;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .notice {
    animation: none;
  }
}
.toDashboardButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .toDashboardButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__e4Tm {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text__e4Tm {
    animation: none;
    text-align: center;
  }
}
.resetSuccessContainer {
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .resetSuccessContainer {
    width: 80%;
    padding: 24px 20px;
  }
}
.resetNotice {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #ffffffd9;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .resetNotice {
    animation: none;
  }
}
.toLogInButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .toLogInButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text___6Y0EE {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-bottom: 0px;
  padding-top: 3px;
}
@media (max-width: 800px) {
  .text___6Y0EE {
    animation: none;
    text-align: center;
  }
}
