.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Bqn5pd9oN2N7);
  min-width: 0;
}
.ariaRadioGroup[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__hKOnI {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Bqn5pd9oN2N7);
}
.radio___8Wp62:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__iOcNn:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__q0OZ9:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
