.signUpPage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #001606;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 20px 0px;
}
.signUpPage > * {
  grid-column: 4;
}
@media (max-width: 800px) {
  .signUpPage > * {
    grid-column: 4;
  }
}
.flex {
  animation: none;
  display: flex;
  position: relative;
  width: 100%;
  height: 150vh;
  max-width: 100%;
  justify-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  margin-bottom: 25px;
  max-height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 800px) {
  .flex {
    height: 125vh;
    margin-bottom: 50px;
  }
}
.container {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .container {
    animation: none;
    width: 80%;
    padding: 24px 20px;
  }
}
.title {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0px;
  min-width: 0;
}
@media (max-width: 800px) {
  .title {
    animation: none;
  }
}
.firstNameContainer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .firstNameContainer:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
    width: 95%;
  }
}
.text__pzeYw {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg___4YCmK {
  position: relative;
  height: 1em;
}
.svg__cadAp {
  position: relative;
  height: 1em;
}
.text__nrEfW {
  animation: none;
}
.firstNameError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 98%;
  display: none;
  border-radius: 8px;
  padding: 5px 24px;
  margin: -16px 0px 0px;
  border: 2px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .firstNameError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding-top: 0px;
  }
}
.firstNameErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .firstNameErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.lastNameContainer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .lastNameContainer:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
    width: 95%;
  }
}
.text__gJusr {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__p6EO {
  position: relative;
  height: 1em;
}
.svg__s2HuI {
  position: relative;
  height: 1em;
}
.text__f2BhF {
  animation: none;
}
.lastNameError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 98%;
  display: none;
  border-radius: 8px;
  padding: 5px 24px;
  margin: -16px 0px 0px;
  border: 2px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .lastNameError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}
.lastNameErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .lastNameErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.emailContainer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .emailContainer:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
    width: 95%;
  }
}
.text__r7CGs {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__lZzlp {
  position: relative;
  height: 1em;
}
.svg__j0Fe {
  position: relative;
  height: 1em;
}
.text___2Pnzj {
  animation: none;
}
.emailError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 98%;
  display: none;
  border-radius: 8px;
  padding: 5px 24px;
  margin: -16px 0px 0px;
  border: 2px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .emailError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}
.emailErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .emailErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.passwordContainer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .passwordContainer:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
    width: 95%;
  }
}
.text__lxz3R {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__jhJ5L {
  position: relative;
  height: 1em;
}
.svg__eqm23 {
  position: relative;
  height: 1em;
}
.text__trtg2 {
  animation: none;
}
.confirmPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 98%;
}
@media (max-width: 800px) {
  .confirmPasswordContainer:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
    width: 95%;
  }
}
.text__r7HcU {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #fffffff2;
  min-width: 0;
}
.svg__pnWxi {
  position: relative;
  height: 1em;
}
.svg__cXhHs {
  position: relative;
  height: 1em;
}
.text__pkhbw {
  animation: none;
}
.passwordError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 98%;
  display: none;
  border-radius: 8px;
  padding: 5px 24px;
  margin: -16px 0px 0px;
  border: 2px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .passwordError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}
.passwordErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .passwordErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.signUpButton {
  cursor: pointer;
  background: var(--token-ytzaa9i3sK9d);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 3px solid var(--token-ytzaa9i3sK9d);
}
@media (max-width: 800px) {
  .signUpButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.text__uIeda {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .text__uIeda {
    animation: none;
    text-align: center;
  }
}
.generalError {
  cursor: default;
  background: var(--token-gTmQ4pFxL2-w);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  min-width: 0;
  display: none;
  border-radius: 10px;
  padding: 10px 24px;
  margin: -16px 0px 0px;
  border: 3px solid var(--token-BoCBPMjbmJFg);
}
@media (max-width: 800px) {
  .generalError {
    animation: none;
    left: auto;
    top: auto;
    justify-content: center;
    align-items: center;
  }
}
.generalErrorContent {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 0px;
}
@media (max-width: 800px) {
  .generalErrorContent {
    animation: none;
    text-align: center;
    white-space: pre-wrap;
  }
}
.logInRedirect {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
.h1 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: #fffffff2;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .h1 {
    animation: none;
  }
}
.logInRedirectButton {
  cursor: default;
  background: none;
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 24px;
  border: 0px solid #ffffff;
}
@media (max-width: 800px) {
  .logInRedirectButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }
}
.text__wj1Pf {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-bottom: 0px;
  height: auto;
  padding-top: 3px;
  color: var(--token--LLXgMeNdajs);
  cursor: pointer;
}
@media (max-width: 800px) {
  .text__wj1Pf {
    animation: none;
    text-align: center;
  }
}
.alreadyLoggedIn {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-QvKZNdbDFRb8);
  box-shadow: none;
  row-gap: 30px;
  display: none;
  border-radius: 16px;
  padding: 32px 50px;
  border: 3px solid var(--token-_ghsv35bfxZ2);
}
@media (max-width: 800px) {
  .alreadyLoggedIn {
    animation: none;
    width: 80%;
    padding: 24px 20px;
  }
}
.notice {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 28px;
  color: #ffffffd9;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 800px) {
  .notice {
    animation: none;
  }
}
.toDashboardButton {
  cursor: default;
  background: var(--token-_ghsv35bfxZ2);
  font-weight: 700;
  color: #ffffff;
  animation: none;
  transform: translate3d(0px, 0px, 0px);
  z-index: 1;
  left: auto;
  top: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: auto;
  width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 10px;
  padding: 5px 24px 5px 16px;
  border: 3px solid var(--token--LLXgMeNdajs);
}
@media (max-width: 800px) {
  .toDashboardButton {
    animation: none;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
  }
}
.svg___6M1NF {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 35px;
  height: 35px;
  transform: translate3d(0px, -1px, 0px);
  margin-top: 3px;
  flex-shrink: 0;
}
.text__h6Mbn {
  animation: none;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  font-style: normal;
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  align-self: center;
  font-weight: 600;
  padding-top: 3px;
}
@media (max-width: 800px) {
  .text__h6Mbn {
    animation: none;
    text-align: center;
  }
}
